<!DOCTYPE html>
<html <%- helmet.htmlAttributes.toString() -%>>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- helmet.title.toString() -%>
    <%- helmet.meta.toString() -%>
    <%- helmet.link.toString() -%>
  </head>
  <body <%- helmet.bodyAttributes.toString() -%>>
    <div id="root"><%- markup -%></div>
    <script src="/assets/dist/main.js"></script>
  </body>
</html>
